{% extends 'base.html' %}

{% block title %}Data sets{% endblock %}

{% block body %}
<div class="schemas-page-content">
    <div class="page-title-div">
        <h2 class="data-sets-title">Data sets</h2>
        <div class="data-sets-generate">
            <label for="generate-rows">Rows: </label>
            <input type="number" name="generate-rows" id="generate-rows" required>
            <button class="new-schema-link" id="create-new-data-set">Generate data</button>
        </div>
    </div>
    {% if object_list.data_sets %}
    <table class="schemas-table">
        <thead>
        <tr>
            <th class="table-id-row">#</th>
            <th class="table-row">Created</th>
            <th class="table-row">Status</th>
            <th class="table-row">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for data_set in object_list.data_sets %}
        <tr>
            <th>{{ data_set.number }}</th>
            <td>{{ data_set.created_date }}</td>
            {% if data_set.status == 'Ready' %}
            <td><p class="status status-ready">Ready</p></td>
            {% else %}
            <td><p class="status status-processing">Processing</p></td>
            {% endif %}
            <td>
                <a href="/">Download</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h4 class="no-schemas-msg">You don't have any data sets for this schema yet</h4>
    {% endif %}
</div>
<script>
    const schema_name = '{{ object_list.schema_name }}'
    create_new_data_set_btn(schema_name)
</script>
{% endblock %}
