{% extends 'base.html' %}

{% block title %}Edit schema{% endblock %}

{% block body %}
<div class="schemas-page-content">
    <h2 class="page-title">Edit schema</h2>
    <form class="new-schema-form" method="post">
        {% csrf_token %}
        <button class="new-schema-btn submit-btn">Submit</button>
        <div class="new-schema-config">
            <label for="new-schema-name">Name</label>
            <input type="text" name="name" id="new-schema-name" maxlength="100" value="{{ conf.schema_name }}" required>
            {% if error.field == 'name' %}
            <p class="error-msg schema-name-error">{{ error.message }}</p>
            {% endif %}
            <label for="new-schema-sep">Column separator</label>
            <select name="separator" id="new-schema-sep">
                <option>Comma (,)</option>
                <option>Semicolon (;)</option>
                <option>Pipe (|)</option>
            </select>
            <label for="new-schema-char">String character</label>
            <select name="character" id="new-schema-char">
                <option>Single-quote (')</option>
                <option>Double-quote (")</option>
            </select>
        </div>
        <div class="new-schema-columns" id="new-schema-columns">
            <h2>Schema columns</h2>
            {% for column in columns %}
            <div class="new-schema-row" id="new-schema-row-{{ column.number }}">
                <div class="field column-name">
                    <label for="column-name-{{ column.number }}">Column name</label>
                    <input type="text" name="column-name-{{ column.number }}" id="column-name-{{ column.number }}"
                           placeholder="Name" maxlength="100" value="{{ column.column_name }}" required>
                </div>
                <div class="field column-type">
                    <label for="column-type-{{ column.number }}">Type</label>
                    <select name="column-type-{{ column.number }}" id="column-type-{{ column.number }}">
                        <option>Full name</option>
                        <option>Job</option>
                        <option>Email</option>
                        <option>Domain name</option>
                        <option>Phone number</option>
                        <option>Company name</option>
                        <option>Text</option>
                        <option>Integer</option>
                        <option>Date</option>
                    </select>
                </div>
                <div class="field column-order">
                    <label for="column-order-{{ column.number }}">Order</label>
                    <input type="number" name="column-order-{{ column.number }}" min="1"
                           id="column-order-{{ column.number }}" value="{{ column.column_order }}" required>
                </div>
                <button type="button" class="new-schema-delete" id="row-delete-{{ column.number }}">Delete</button>
            </div>
            {% endfor %}
        </div>
        {% if error.field == 'column-order' or error.field == 'column-range' %}
        <p class="error-msg">{{ error.message }}</p>
        {% endif %}
        <button type="button" class="new-schema-btn add-column-btn" id="add-column-btn">Add column</button>
    </form>
</div>
<script>
    new_schema_add_column_btn()
    new_schema_delete_row_btn()
    new_schema_type_select()
</script>
{% endblock %}
