{% extends 'base.html' %}

{% block title %}Data schemas{% endblock %}

{% block body %}
<div class="page-content">
    <h2 class="page-title">Data schemas</h2>
    <a class="new-schema" href="/new_schema">New schema</a>
    <table class="schemas-table">
        <thead>
        <tr>
            <th class="table-id-row">#</th>
            <th class="table-row">Title</th>
            <th class="table-row">Modified</th>
            <th class="table-row">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <th>1</th>
        <td><a href="/">Customers</a></td>
        <td>2020-03-16</td>
        <td>
            <a href="/">Edit scheme</a>
            <a class="delete" href="/">Delete</a>
        </td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}
