{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static 'scripts.js' %}"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header>
    <a class="nav-brand" href="{% url 'schemas' %}">FakeCSV</a>
    <a class="nav-pages" href="{% url 'schemas' %}">Schemas</a>
    {% if request.user.is_authenticated %}
        <p class="nav-pages nav-user">Hello, <b>{{ request.user.username }}</b></p>
        <a class="nav-pages nav-logout" href="{% url 'logout' %}">Logout</a>
    {% endif %}
</header>
{% block body %}{% endblock %}
</body>
</html>